@import url('./strokes.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Gogh';
	src: url('../assets/font/Gogh/Gogh-Hairline.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Gogh';
	src: url('../assets/font/Gogh/Gogh-HairlineItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: 'Gogh';
	src: url('../assets/font/Gogh/Gogh-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Gogh';
	src: url('../assets/font/Gogh/Gogh-ThinItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'Gogh';
	src: url('../assets/font/Gogh/Gogh-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gogh';
	src: url('../assets/font/Gogh/Gogh-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Gogh';
	src: url('../assets/font/Gogh/Gogh-Book.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gogh';
	src: url('../assets/font/Gogh/Gogh-BookItalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Gogh';
	src: url('../assets/font/Gogh/Gogh-Regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gogh';
	src: url('../assets/font/Gogh/Gogh-RegularItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Gogh';
	src: url('../assets/font/Gogh/Gogh-Medium.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Gogh';
	src: url('../assets/font/Gogh/Gogh-MediumItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Gogh';
	src: url('../assets/font/Gogh/Gogh-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gogh';
	src: url('../assets/font/Gogh/Gogh-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Gogh';
	src: url('../assets/font/Gogh/Gogh-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Gogh';
	src: url('../assets/font/Gogh/Gogh-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Gogh';
	src: url('../assets/font/Gogh/Gogh-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Gogh';
	src: url('../assets/font/Gogh/Gogh-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Chromate';
	src: url('../assets/font/Chromate/Chromate-Regular.ttf') format('truetype');
}

* {
	font-family: 'gogh', sans-serif;
}
