@import url('./strokes.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	@font-face {
		font-family: 'Gogh';
		src: url('../assets/font/Gogh/Gogh-Hairline.ttf') format('truetype');
		font-weight: 100;
		font-style: normal;
	}
	@font-face {
		font-family: 'Gogh';
		src: url('../assets/font/Gogh/Gogh-HairlineItalic.ttf') format('truetype');
		font-weight: 100;
		font-style: italic;
	}
	@font-face {
		font-family: 'Gogh';
		src: url('../assets/font/Gogh/Gogh-Thin.ttf') format('truetype');
		font-weight: 200;
		font-style: normal;
	}
	@font-face {
		font-family: 'Gogh';
		src: url('../assets/font/Gogh/Gogh-ThinItalic.ttf') format('truetype');
		font-weight: 200;
		font-style: italic;
	}
	@font-face {
		font-family: 'Gogh';
		src: url('../assets/font/Gogh/Gogh-Light.ttf') format('truetype');
		font-weight: 300;
		font-style: normal;
	}
	@font-face {
		font-family: 'Gogh';
		src: url('../assets/font/Gogh/Gogh-LightItalic.ttf') format('truetype');
		font-weight: 300;
		font-style: italic;
	}

	@font-face {
		font-family: 'Gogh';
		src: url('../assets/font/Gogh/Gogh-Book.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
	}
	@font-face {
		font-family: 'Gogh';
		src: url('../assets/font/Gogh/Gogh-BookItalic.ttf') format('truetype');
		font-weight: 400;
		font-style: italic;
	}
	@font-face {
		font-family: 'Gogh';
		src: url('../assets/font/Gogh/Gogh-Regular.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
	}
	@font-face {
		font-family: 'Gogh';
		src: url('../assets/font/Gogh/Gogh-RegularItalic.ttf') format('truetype');
		font-weight: 500;
		font-style: italic;
	}

	@font-face {
		font-family: 'Gogh';
		src: url('../assets/font/Gogh/Gogh-Medium.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
	}
	@font-face {
		font-family: 'Gogh';
		src: url('../assets/font/Gogh/Gogh-MediumItalic.ttf') format('truetype');
		font-weight: 600;
		font-style: italic;
	}

	@font-face {
		font-family: 'Gogh';
		src: url('../assets/font/Gogh/Gogh-Bold.ttf') format('truetype');
		font-weight: 700;
		font-style: normal;
	}
	@font-face {
		font-family: 'Gogh';
		src: url('../assets/font/Gogh/Gogh-BoldItalic.ttf') format('truetype');
		font-weight: 700;
		font-style: italic;
	}

	@font-face {
		font-family: 'Gogh';
		src: url('../assets/font/Gogh/Gogh-ExtraBold.ttf') format('truetype');
		font-weight: 800;
		font-style: normal;
	}
	@font-face {
		font-family: 'Gogh';
		src: url('../assets/font/Gogh/Gogh-ExtraBoldItalic.ttf') format('truetype');
		font-weight: 800;
		font-style: italic;
	}

	@font-face {
		font-family: 'Gogh';
		src: url('../assets/font/Gogh/Gogh-Black.ttf') format('truetype');
		font-weight: 900;
		font-style: normal;
	}
	@font-face {
		font-family: 'Gogh';
		src: url('../assets/font/Gogh/Gogh-BlackItalic.ttf') format('truetype');
		font-weight: 900;
		font-style: italic;
	}

	@font-face {
		font-family: 'Chromate';
		src: url('../assets/font/Chromate/Chromate-Regular.ttf') format('truetype');
	}

	* {
		font-family: 'gogh', sans-serif;
	}

	h1 {
		@apply text-mobile-h1 lg:text-h1;
	}

	h2 {
		@apply text-mobile-h2 lg:text-h2;
	}

	h3 {
		@apply text-mobile-h3 lg:text-h3;
	}

	h4 {
		@apply text-mobile-h4 lg:text-h4;
	}

	p {
		@apply text-mobile-p1 lg:text-p1;
	}
}

.profile-card {
	background: linear-gradient(
		148.05deg,
		rgba(255, 255, 255, 0.4) 0%,
		rgba(255, 255, 255, 0) 100%
	);
}
.outlineText {
	text-shadow: 0px 10px 0.02px #157067, 9.8px 2.1px 0.02px #157067,
		4.2px -9.1px 0.02px #157067, -8px -6px 0.02px #157067,
		-7.6px 6.5px 0.02px #157067, 4.8px 8.8px 0.02px #157067,
		9.6px -2.8px 0.02px #157067, -0.7px -10px 0.02px #157067,
		-9.9px -1.5px 0.02px #157067, -3.5px 9.4px 0.02px #157067,
		8.4px 5.4px 0.02px #157067, 7.1px -7px 0.02px #157067,
		-5.4px -8.4px 0.02px #157067, -9.4px 3.5px 0.02px #157067,
		1.4px 9.9px 0.02px #157067, 10px 0.8px 0.02px #157067,
		2.9px -9.6px 0.02px #157067, -8.7px -4.8px 0.02px #157067,
		-6.6px 7.5px 0.02px #157067, 5.9px 8px 0.02px #157067,
		9.1px -4.1px 0.02px #157067, -2.1px -9.8px 0.02px #157067,
		-10px -0.1px 0.02px #157067, -2.2px 9.8px 0.02px #157067,
		9.1px 4.2px 0.02px #157067, 6.1px -8px 0.02px #157067,
		-6.5px -7.6px 0.02px #157067, -8.8px 4.7px 0.02px #157067,
		2.7px 9.6px 0.02px #157067, 10px -0.6px 0.02px #157067,
		1.5px -9.9px 0.02px #157067, -9.3px -3.6px 0.02px #157067,
		-5.5px 8.4px 0.02px #157067, 7px 7.2px 0.02px #157067,
		8.5px -5.3px 0.02px #157067, -3.4px -9.4px 0.02px #157067,
		-9.9px 1.3px 0.02px #157067, -0.8px 10px 0.02px #157067,
		9.6px 2.9px 0.02px #157067, 4.9px -8.7px 0.02px #157067,
		-7.5px -6.7px 0.02px #157067, -8.1px 5.9px 0.02px #157067,
		4px 9.2px 0.02px #157067, 9.8px -2px 0.02px #157067,
		0.2px -10px 0.02px #157067, -9.7px -2.3px 0.02px #157067,
		-4.3px 9px 0.02px #157067, 7.9px 6.1px 0.02px #157067;
}

.outlineText2 {
	text-shadow: 0px 10px 0.02px #0e473e, 9.8px 2.1px 0.02px #0e473e,
		4.2px -9.1px 0.02px #0e473e, -8px -6px 0.02px #0e473e,
		-7.6px 6.5px 0.02px #0e473e, 4.8px 8.8px 0.02px #0e473e,
		9.6px -2.8px 0.02px #0e473e, -0.7px -10px 0.02px #0e473e,
		-9.9px -1.5px 0.02px #0e473e, -3.5px 9.4px 0.02px #0e473e,
		8.4px 5.4px 0.02px #0e473e, 7.1px -7px 0.02px #0e473e,
		-5.4px -8.4px 0.02px #0e473e, -9.4px 3.5px 0.02px #0e473e,
		1.4px 9.9px 0.02px #0e473e, 10px 0.8px 0.02px #0e473e,
		2.9px -9.6px 0.02px #0e473e, -8.7px -4.8px 0.02px #0e473e,
		-6.6px 7.5px 0.02px #0e473e, 5.9px 8px 0.02px #0e473e,
		9.1px -4.1px 0.02px #0e473e, -2.1px -9.8px 0.02px #0e473e,
		-10px -0.1px 0.02px #0e473e, -2.2px 9.8px 0.02px #0e473e,
		9.1px 4.2px 0.02px #0e473e, 6.1px -8px 0.02px #0e473e,
		-6.5px -7.6px 0.02px #0e473e, -8.8px 4.7px 0.02px #0e473e,
		2.7px 9.6px 0.02px #0e473e, 10px -0.6px 0.02px #0e473e,
		1.5px -9.9px 0.02px #0e473e, -9.3px -3.6px 0.02px #0e473e,
		-5.5px 8.4px 0.02px #0e473e, 7px 7.2px 0.02px #0e473e,
		8.5px -5.3px 0.02px #0e473e, -3.4px -9.4px 0.02px #0e473e,
		-9.9px 1.3px 0.02px #0e473e, -0.8px 10px 0.02px #0e473e,
		9.6px 2.9px 0.02px #0e473e, 4.9px -8.7px 0.02px #0e473e,
		-7.5px -6.7px 0.02px #0e473e, -8.1px 5.9px 0.02px #0e473e,
		4px 9.2px 0.02px #0e473e, 9.8px -2px 0.02px #0e473e,
		0.2px -10px 0.02px #0e473e, -9.7px -2.3px 0.02px #0e473e,
		-4.3px 9px 0.02px #0e473e, 7.9px 6.1px 0.02px #0e473e;
}

.outlineTextMiniLight {
	text-shadow: 0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067, 0px 0px 5px #157067, 0px 0px 5px #157067,
		0px 0px 5px #157067;
}

.outlineTextMiniDark {
	text-shadow: 0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e, 0px 0px 3px #0e473e, 0px 0px 3px #0e473e,
		0px 0px 3px #0e473e;
}

.atalks-bg-1 {
	/* background-image: url() */
	background: linear-gradient(
		180deg,
		rgba(14, 71, 62, 0.9) 0%,
		rgba(15, 71, 62, 0.9) 53.62%,
		rgba(15, 71, 62, 0.97) 100%
	);
}
.atalks-bg-2 {
	background: linear-gradient(
		180deg,
		rgba(14, 71, 62, 0.9) 0%,
		rgba(15, 71, 62, 0.9) 53.62%,
		rgba(15, 71, 62, 0.97) 100%
	);
}

.atalks-bgImg-1 {
	/* width: 1920px;
  height: 1080px; */
	background: url('../../public/images/bg/bg-Atalks1.png') no-repeat center;
}

.atalks-bgImg-2 {
	background: url('../../public/images/bg/bg-Atalks2.png') no-repeat center;
}

.comingSoon-bgImg {
	background: url('../../public/images/bg/bg-ComingSoon.png') no-repeat center;
}

.comingSoon-bg {
	background: linear-gradient(
		148.05deg,
		rgba(255, 255, 255, 0.4) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	backdrop-filter: blur(42px);
	opacity: 0.9;
	filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 120px;
}

.glassmo {
	background: linear-gradient(
		148.05deg,
		rgba(255, 255, 255, 0.4) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	backdrop-filter: blur(23.528px);
}

.outline-gradient {
	box-shadow: inset -1px 1px 1px 0px rgba(255, 255, 255, 0.4),
		inset 1px -1px 1px 0px #a8ff75;
}
.contactUs-bg {
	background: linear-gradient(180deg, #1a6c63 0%, #134943 100%);
	/* max-width: 1920px; */
	/* height: 520px; */
}

.pastPartner-bg {
	background: linear-gradient(
		180deg,
		rgba(14, 71, 62, 0.9) 0%,
		rgba(15, 71, 62, 0.9) 53.62%,
		rgba(15, 71, 62, 0.97) 100%
	);
}

.text-shadow {
	text-shadow: 0px 2.24076px 6.72229px rgba(0, 0, 0, 0.4);
}

.text-shadow-b {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-shadow-light {
	text-shadow: 0px 2.24076px 6.72229px rgba(255, 255, 255, 0.9);
}
