/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@font-face {
    font-family: 'Chromate';
    src: url('../assets/font/Chromate/Chromate-Regular.ttf');
}
@font-face {
    font-family: 'Gogh';
    src: url('../assets/font/Gogh/Gogh-Medium.ttf');
} 